:root {
    --main-color: rgb(30, 122, 106);  /* Dark Teal*/
    --secondary-color: rgb(30, 171, 155); /* Light Teal */
    --tertiary-color: rgb(255, 128, 128); /* Coral */
}

body {
    background-color: var(--main-color);
}

.social-media
{
    font-size: 4rem;
}

h1 {
    color: white;
    font-size: 4em;
    padding-left: 10px;
}

@media (max-width: 767px) {

    .social-media {text-align: center; width: 100%; padding-left: 5%;}
    h1 {text-align: center;}
    .header-caption {text-align: center; padding-right: 2%}
}


.coral /* for first name style */
{
    color: var(--tertiary-color);
}

/**************** Navbar Styles ******************/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar-nav {
    margin:0 auto;
    text-align: center;
}

.navbar-nav > li{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-light {
    background-color: var(--secondary-color);
}

.navbar-light .navbar-text {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}
/* change the link color */
.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: .75rem 1rem;
}
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: var(--main-color);
    background-color: white;
}

/* For dropdowns */
.navbar-light .dropdown-menu {
    background-color: white;
}
.navbar-light .dropdown-item {
    color: var(--main-color);
}

.navbar-light .dropdown-item:hover,
.navbar-light .dropdown-item:focus {
    color: white;
    background-color: var(--main-color);
}

/************* Style of content ****************/

body {
    padding: 20px;
}



h2 {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 3em;
    border-bottom-style: solid;
    border-bottom-color: white;
}

img {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
}

/* For images on homepage */
.container
{
    position: relative;
    width: 90%;
    padding: 10px;

}

.catchphrase-container
{
    position: absolute;
    bottom: 10%;
    right: 1em;
    left: 1em;
}

.catchphrase
{
    color: white;
    border-bottom: none;
    font-size: 2em;
    text-align: center;
    background: rgba(30, 171, 155, 0.9);  /*light teal with less opacity*/

}

.catchphrase-img
{
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
}

.catchphrase-text
{
    margin: 0;
    opacity: 0;
    background: rgba(30, 171, 155, 0.75);  /*light teal with less opacity*/
    padding: 20px;
    color: white;
}

.catchphrase-text:hover {
    opacity: 1;
}

/* Get rid of hover on mobile */
@media(hover: none)
{
    .catchphrase-text:hover {
        opacity: 0;
    }
}


a, a:hover {
    color: var(--tertiary-color);
}

section {
    padding-top: 10px;
}

section h3 {
    padding: 7px;
    background-color: white;
    color: var(--main-color);
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: var(--tertiary-color);
}

h4 {
    padding: 10px;
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
}

h4 a
{
    color: white;
}

h4 a:hover
{
    color: var(--main-color);
}

blockquote {
    padding: 20px;
    color: white;
    background-color: var(--secondary-color);
    font-size: 2em;
    text-align: center;
}

p {
    color: white;
}

.contact {
    text-align: center;
    color: white;
}
