:root {
    --main-color: rgb(30, 122, 106);  /* Dark Teal*/
    --secondary-color: rgb(30, 171, 155); /* Light Teal */
    --tertiary-color: rgb(255, 128, 128); /* Coral */
}

body {
    background-color: var(--main-color);
}

.social-media
{
    text-align: right;
    font-size: 3rem;
}

h1 {
    color: white;
    font-size: 4em;
}

.coral /* for first name style */
{
    color: var(--tertiary-color);
}

/**************** Navbar Styles ******************/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.navbar-nav {
    margin:0 auto;
    text-align: center;
}

.navbar-nav > li{
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-light {
    background-color: var(--secondary-color);
}

.navbar-light .navbar-text {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}
/* change the link color */
.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: .75rem 1rem;
}
/* change the color of active or hovered links */
.navbar-light .nav-item.active .nav-link,
.navbar-light .nav-item:hover .nav-link {
    color: var(--main-color);
    background-color: white;
}

/* For dropdowns */
.navbar-light .dropdown-menu {
    background-color: white;
}
.navbar-light .dropdown-item {
    color: var(--main-color);
}

.navbar-light .dropdown-item:hover,
.navbar-light .dropdown-item:focus {
    color: white;
    background-color: var(--main-color);
}

/************* Style of content ****************/

body {
    padding: 20px;
}

.header {  /*TODO: Make the header static */
    position: fixed;
}

h2 {
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 3em;
    border-bottom-style: solid;
    border-bottom-color: white;
}

img {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--tertiary-color);
    background-color: var(--tertiary-color);
}

a, a:hover {
    color: var(--tertiary-color);
}

.in-txt-img {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
section {
    padding-top: 10px;
}

section h3 {
    padding: 7px;
    background-color: white;
    color: var(--main-color);
    text-align: center;
    border-bottom-style: solid;
    border-bottom-color: var(--tertiary-color);
}

h4, blockquote {
    padding: 10px;
    color: white;
    background-color: var(--secondary-color);
    text-align: center;
}

p {
    color: white;
}

blockquote {
    size: 3em;
}

.contact {
    text-align: center;
    color: white;
}
