
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Experience</title>
    <link rel="icon" type="image/ico" href="/img/icon.jpg" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="/style.css" type="text/css">

    <!-- Font awesome social media icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- make parent of dropdown in nav clickable-->
    <script>
        jQuery(function($) {
            $('.navbar .dropdown').hover(function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();

            }, function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();

            });

            $('.navbar .dropdown > a').click(function(){
                location.href = this.href;
            });

        });
    </script>

</head>
<body class="container-fluid">
    <!-- Header -->
    <div class="row d-flex justify-content-between w-100">
        <h1 class="col-xs-5">Rachel <span class="coral">Klesius</span></h1>
        <div class="col-xs-6 social-media ">
            <a href="https://github.com/rklesius" target="_blank"><i class="fab fa-github-square coral"></i></a>
            <a href="https://www.linkedin.com/in/rklesius/" target="_blank"><i class="fab fa-linkedin coral"></i></a>
            <a href="https://www.youtube.com/user/domoandfriends" target="_blank"><i class="fab fa-youtube-square coral"></i></a>
        </div>
    </div>
    <p class="header-caption">Full Stack Developer for Hire </p>

    <!-- Navbar using Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-nav navbar-light col-12">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-light navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- For large and up displays, include dropdowns -->
            <div class="d-none d-lg-block mx-auto" style="border-width: 0">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/" id="navbarDropdownHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
                            <a class="dropdown-item" href="/#about">About Me</a>
                            <a class="dropdown-item" href="/#philo">Personal Philosophy</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/experience" id="navbarDropdownExperience" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Experience</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownExperience">
                            <a class="dropdown-item" href="/experience#projects">Projects</a>
                            <a class="dropdown-item" href="/experience#work">Work Experience</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/skills" id="navbarDropdownSkills" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skills</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownSkills">
                            <a class="dropdown-item" href="/skills#front">Front-End Development</a>
                            <a class="dropdown-item" href="/skills#back">Back-End Development</a>
                            <a class="dropdown-item" href="/skills#arduino">Arduino</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/leadership" id="navbarDropdownLeadership" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leadership</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownLeadership">
                            <a class="dropdown-item" href="/leadership#wicse">WICSE</a>
                            <a class="dropdown-item" href="/leadership#scuba">Scuba Club</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            <!-- For smaller displays, eliminate dropdowns -->
            <div class="d-lg-none">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leadership">Leadership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2>Experience</h2>

    <section id="projects">
        <h3>Projects</h3>
        <div class="row">
            <div class="col-md-11 col-xs-12 mx-auto">
                <p>
                    These projects are just a few of my favorite projects as of January 2019.  As I am always
                    working on new projects inside and out of class I encourage you to check out my list of
                    <a href="https://github.com/rklesius?tab=repositories" target="_blank">Github repositories</a> to see
                    what I am currently working on.  If you click on the title of a project below it will take you
                    to Github repository for that specific project.
                </p>

                <!-- Challenges, Mistakes/failures, enjoyed, leadership, conflicts, What you'd do differently-->

                <h4><a href="https://github.com/tawanajerome/WebsiteVoting" target="_blank">Voting for Favorite Websites</a></h4>
                <p>
                    This project was the final project for the Web Applications class at USF completed with a fellow student.
                    We were required to program a website that allowed teachers to upload a zip file of html documents and
                    allow students to vote once for their first, second and third favorite website.  Once students have voted,
                    the results become available to the professor through their account.  This project uses Ruby, Sinatra,
                    HTML, CSS, and Javascript.
                </p>
                <p>
                    This project was my first major web application that I created and required me for the first time to
                    use zip files, databases, and csv files in web development.  Because of this challenge it was a amazing
                    to see the final product with a login page and being able to find and put information in a database.
                </p>

                <h4><a href="https://github.com/rklesius/personalwebsite" target="_blank">Resume Website</a></h4>
                <p>
                    My personal website acts as an extended resume to give more information and elaboration than what one
                    piece of paper can provide.  I challenged myself to not rely on libraries other than Bootstrap, and
                    programmed the rest in HTML, CSS, and Javascript with a little bit of Ruby with Sinatra for routing.  For this project I also
                    wanted to solidify what I learned in Web Applications while working on a project of my own choosing.
                    It was really challenging to not rely on a framework like React and I think this challenge allowed me to have
                    a more thorough knowledge of the relationships between the holy trinity of web development.  I really
                    enjoyed the opportunity to showcase my achievements in a way that is easy to access including being mobile friendly.
                    In the future I would like to add more animations and interactions between the user and the website (i.e. a form
                    to submit for the "Contact Me" section of the website) but I needed to end the project to have more time for
                    my classes and get the product out there to potential companies.
                </p>

                <h4><a href="https://github.com/rklesius/ThankgivingSemaphores" target="_blank">Semaphores for Thanksgiving</a></h4>
                <p>
                    In the Operating Systems class I took at USF, I was given a choice at the end of the semester to design a program
                    that showcased concepts in Operating Systems in a creative way.  So, I used semaphores to represent people
                    eating Thanksgiving together where the dishes were the shared resource between the people eating.  This was done
                    using C and the built in semaphore libraries in C.  If I were to take this project further, I would like to
                    have a way to input a variable amount of dishes (shared resources) or a variable amount of people at the table
                    (semaphores).  All in all I have a lot of hardcoded variables that could be user input instead to showcase
                    more functionality.
                </p>
                <p>
                    For this project I was working with a partner that had a lot on his plate, and for that reason I ended up doing
                    all of the coding and he wrote the majority of the report.  This compromise worked out fine for me because it
                    allowed me to learn more from code rather than just explaining my thoughts in a paper and I think I benefited
                    more from the project than he did for this reason.
                </p>
                <h4><a href="https://github.com/rklesius/ARCA" target="_blank">ARCA</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12 mx-auto my-auto">
                <img class="img-responsive" src="/img/ARCA.jpg" alt="ARCA, a robot">
            </div>
            <div class="col-md-5 col-xs-12 my-auto mx-auto">
                <p>
                    This project was my first Arduino project as part of the Makecourse class at the University of South Florida.
                    The project requirements involved utilizing a plastic box (the chassis of the robot), having a moving part,
                    and programming it in Arduino.  I decided to create something that would be fun to make and use so I created an
                    Adorable Remote Controlled Android (ARCA).  She is controlled by an IR remote and can express various emotions, move
                    forwards, and turn.
                </p>
                <p>
                    This project taught me that I am not a mechanical engineer and that I needed to learn better design for a more
                    polished work.  Besides the lack of structural integrity the programming works flawlessly and exactly as I
                    wanted it to.  If you would like to see how I put ARCA together you can check out my
                    <a href="https://www.instructables.com/id/Meet-ARCA/" target="_blank">Instructables page</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-11 col-xs-12 mx-auto">
                <h4><a href="https://github.com/rklesius/Epic-Grad-Cap" target="_blank">Epic Graduation Cap</a></h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-xs-12 my-auto mx-auto">
                <p>
                    My over-engineered graduation cap was a personal Arduino project that I used as a teaching tool for an Advanced Arduino
                    presentation.  This is a project that I wanted to use to help me refine my design skills.  I accomplished this by
                    focusing on modularity, preciseness of 3-D printed components, and intense planning.  I used the eventual
                    pitfalls as a teaching point in my Advanced Arduino class, such as when the servo motor kept falling over
                    on the graduation cap and I asked people in the presentation for possible solutions to help spark conversation
                    and thinking about problem solving with their own projects. In the future, I am going to screw my servo motor
                    into my actual graduation cap from USF (not a cheap graduation cap from online) and permanently affix it.
                </p>
                <p>
                    If you would like step-by-step instructions for how to build your own over-engineered graduation cap, you
                    can find them on my <a href="https://www.instructables.com/id/Epic-Graduation-Cap/" target="_blank">Instructables Page</a>.
                </p>
            </div>
            <div class="col-md-5 col-xs-12 mx-auto my-auto">
                <img class="img-responsive" src="/img/GradCap.jpg" alt="Graduation Cap">
            </div>
        </div>
    </section>
    
    
    <section id="work">
        <h3>Work Experience</h3>
        <div class="row">
            <div class="col-md-11 col-xs-12 mx-auto">
                <h4>Technology Analyst Intern at JP Morgan & Chase</h4>
                <p>
                    I interned with JP Morgan & Chase (JPMC) for 10 weeks in the summer of 2018, and as my first step into the industry
                    I came with knowledge of only C++, C, Arduino and a small amount of Java.  At the end of those 10 weeks I had created
                    a web application that uses a React framework for the front-end and a back-end with Spring Boot Java connecting to an Oracle
                    database, a Cassandra database, and a direct-mapped cache creating tables from those databases.  I learned this in an
                    Agile workplace with a focus on test-driven development.   It was also during this time that I mastered Git and attended
                    many company hosted talks on topics ranging from brain-computer interfacing to machine learning.
                </p>
                <p>
                    My time with JPMC taught me so much more about what it means to be a good programmer than academia ever could.  It also
                    inspired me to study a more diverse set of topics in Computer Science, including seeking a more thorough knowledge
                    of web development and database design.  Overall I discovered where I was at in my knowledge of computer science and
                    I was pointed to where I wanted to be.
                </p>
                <h4>Campus Representative for Yik Yak Inc.</h4>
                <p>
                    My first job was with Yik Yak Inc., an app that was similar to Twitter but anonymous and based on your location.
                    To college students it was an incredible tool to talk to people at your University and get the latest about
                    what was going on.  As a Campus Representative it was my duty to connect USF to the Yik Yak Headquarters and
                    share what students wanted from their app as well as promote the app campus-wide.  I did this through surveys,
                    giveaways, and attending charity events.
                </p>
                <p>
                    While I never did any coding for this job, it really taught me what it is like on the other side of the tech world.
                    Marketing is an insanely huge part of what makes certain technologies successful and what makes others fall to the
                    wayside.  Getting a taste for marketing opened my eyes to how difficult it really is.
                </p>
            </div>
        </div>
    </section>
</body>
</html>