
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Skills</title>
    <link rel="icon" type="image/ico" href="/img/icon.jpg" />

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="/style.css" type="text/css">

    <!-- Font awesome social media icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- make parent of dropdown in nav clickable-->
    <script>
        jQuery(function($) {
            $('.navbar .dropdown').hover(function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(250).slideDown();

            }, function() {
                $(this).find('.dropdown-menu').first().stop(true, true).delay(100).slideUp();

            });

            $('.navbar .dropdown > a').click(function(){
                location.href = this.href;
            });

        });
    </script>

</head>
<body class="container-fluid">
    <!-- Header -->
    <div class="row d-flex justify-content-between w-100">
        <h1 class="col-xs-5">Rachel <span class="coral">Klesius</span></h1>
        <div class="col-xs-6 social-media ">
            <a href="https://github.com/rklesius" target="_blank"><i class="fab fa-github-square coral"></i></a>
            <a href="https://www.linkedin.com/in/rklesius/" target="_blank"><i class="fab fa-linkedin coral"></i></a>
            <a href="https://www.youtube.com/user/domoandfriends" target="_blank"><i class="fab fa-youtube-square coral"></i></a>
        </div>
    </div>
    <p class="header-caption">Full Stack Developer for Hire </p>

    <!-- Navbar using Bootstrap -->
    <nav class="navbar navbar-expand-lg navbar-nav navbar-light col-12">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-light navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

            <!-- For large and up displays, include dropdowns -->
            <div class="d-none d-lg-block mx-auto" style="border-width: 0">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/" id="navbarDropdownHome" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Home</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
                            <a class="dropdown-item" href="/#about">About Me</a>
                            <a class="dropdown-item" href="/#philo">Personal Philosophy</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/experience" id="navbarDropdownExperience" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Experience</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownExperience">
                            <a class="dropdown-item" href="/experience#projects">Projects</a>
                            <a class="dropdown-item" href="/experience#work">Work Experience</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/skills" id="navbarDropdownSkills" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Skills</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownSkills">
                            <a class="dropdown-item" href="/skills#front">Front-End Development</a>
                            <a class="dropdown-item" href="/skills#back">Back-End Development</a>
                            <a class="dropdown-item" href="/skills#arduino">Arduino</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="/leadership" id="navbarDropdownLeadership" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Leadership</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownLeadership">
                            <a class="dropdown-item" href="/leadership#wicse">WICSE</a>
                            <a class="dropdown-item" href="/leadership#scuba">Scuba Club</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
            <!-- For smaller displays, eliminate dropdowns -->
            <div class="d-lg-none">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/experience">Experience</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/leadership">Leadership</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h2>Skills</h2>
    <div class="row">
        <div class="col-md-11 col-xs-12 mx-auto my-auto">
            <p>
                Here you will find a complete list of all the programming languages that I can code in and where I obtained those
                skills.  If you are looking for a list of projects you can find them under <a href="/experience#projects">experience</a>
                with detailed information or on my list of <a href="https://github.com/rklesius?tab=repositories" target="_blank">Github repositories</a>
                for an up-to-date list of current projects.
            </p>
        </div>
    </div>
    <section id="front">
        <h3>Front-End Skills</h3>
        <div class="row">
            <div class="col-md-11 col-xs-12 mx-auto">
                <h4>HTML, CSS, and Javascript</h4>
                <p>
                    My first experience with the "holy trinity" of web development was at my internship with JP Morgan & Chase (JPMC).
                    In my time there I learned only <em>what</em> to code but not <em>why</em> to code it.  I was also
                    learning HTML, CSS, and Javascript in the scope of both Angular and React so it was different than learning the
                    basics straight up without the ease of a framework.
                </p>
                <p>
                    With this experience I was motivated to learn more in a formal setting, because learning out of need is different
                    than learning out of desire to learn.  I took Web Applications as one of my computer science electives at USF and
                    learned about the importance of different tags in HTML, how CSS cascades, and ways to make
                    a website more functional with Javascript.  In addition to that, I also learned some helpful libraries, such as
                    Bootstrap, Vue, and how to use Ruby as a backend with Sinatra.  I got a good taste of a little of everything
                    offered by web development while exercising good coding practices I had never learned previously in the industry.
                </p>
                <h4>React</h4>
                <p>
                    First when I joined JPMC I started my ten week long project as an Angular application, until my boss came up to
                    me a few weeks in and told me that I needed to switch it to React.  For the rest of the 7 or 8 weeks I was coding with
                    React.  At the time I was new to web development and the different components made a lot of sense to me even then,
                    and I could appreciate their efficiency.  As I was working on a project that required a lot of loading and reloading,
                    it made perfect sense to make use of React's responsiveness and efficiency.
                </p>
            </div>
        </div>
    </section>
    
    <section id="back">
        <h3>Back-End Skills</h3>
        <div class="row">
            <div class="col-md-11 col-xs-12 mx-auto">
                <h4>Python</h4>
                <p>
                    Python was the first programming language I ever learned, and I will never forget the first time I wrote "Hello World"
                    and was entranced by it.  I started my first semester of college learning Python and I am also ending it in Python
                    by using it to program a Raspberry Pi for my Control of Mobile Robots class.  Throughout my college career I have
                    also been to several Python workshops hosted by WICSE so I was able to stay fresh with this language.
                </p>
                <p>
                    I appreciate Python because functional programming languages have great unseen potential compared to the more widely popular
                    just object-oriented languages such as C++ and Java.  However, weakly typed languages such as Python are at a disadvantage
                    to me.  I feel myself second guessing pieces of code and having to fight its weak typing to get what I need from it.
                </p>
                <h4>Java</h4>
                <p>
                    Java was the second language I learned and my first that counted towards my Computer Science degree in a class called
                    Programming Concepts.  This class was also where I was exposed to what object oriented languages are for the first
                    time.  I also used Java during my internship with JPMC as the backend to my React application.
                </p>
                <p>
                    Java is my favorite backend language.  It has most of the functionality of C++ but you simply cannot beat the multitude
                    of built-in libraries.  The code is also more readable to me than C++ and it is just easier to use in general with passing
                    by reference than with the pointers of C++.
                </p>
                <h4>C</h4>
                <p>
                    I learned C in my Program Design class at USF, and with it I learned how to use a Linux terminal.  C was my first exposure
                    to how powerful pointers can be and also how quickly they can lead to errors.  I also used C in my Operating Systems class
                    where I made use of complex concepts in C, such as using semaphores.
                </p>
                <p>
                    I catch myself using C a lot when I am given a choice of any language to use for a project.  The linux terminal with C is
                    incredibly easy to use, I could have some code whipped up and running very easily.  The incredibly intuitive syntax is very
                    easy to remember even if I haven't coded in C in a while.  When I first created my presentation to take to High Schools and
                    Middle Schools to inspire young minds to code I wrote my example code in C.  My first presentation I had a good look at it
                    and realized how complex and intangible the command line must have seen.  So I rewrote it in Javascript to make it a more
                    relatable web application.
                </p>
                <h4>C++</h4>
                <p>
                    The majority of the coding classes I have taken at USF have been focused on C++, such as Object Oriented Design, Data Structures,
                    and Analysis of Algorithms.  C++ has surrounded my academic career; even Arduino is a language based off of C++.  I would say that
                    the language I have the most experience in is C++.
                </p>
                <p>
                    It's no wonder why it is academia's choice language since it is basically C but more object oriented.  While C++ is my second
                    favorite language just based off of its incredible functionality, it is often times harder to read than Java.
                </p>
            </div>
        </div>
    </section>
    
    <section id="arduino">
       <h3>Arduino</h3>
       <div class="row">
            <div class="col-md-11 col-xs-12 mx-auto">
                <p>
                    When I learned Arduino, it was in a class at USF called <a href="http://www.makecourse.com/" target="_blank">Makecourse</a>.  For this class
                    your grade is dependent on one project: an Arduino project that utilizes some 3D printed component and was programmed with
                    Arduino.  This class was really inspiring because it was my first step into robotics and I simply fell in love with Arduino.
                    For this class I made a simple robot that was really poorly engineered but the code was flawless, and this drove me to learn
                    more about design and mechanical engineering.
                </p>
                <p>
                    While I was in this class, I also realized that many people taking it had zero programming experience and saw it as a great
                    opportunity to learn how to code.  Unfortunately, Arduino is quite hard to pick up if you have never coded before, so I was
                    inspired to give several Arduino talks to help the non-coders out in that class by teaching them basic coding concepts in
                    the context of Arduino.
                </p>
                <p>
                    Arduino is now a hobby to me, a way to express my creativity with gadgets while still exercising my coding knowledge. My last
                    semester of college I am also going to be diving into Raspberry Pi in my Control of Mobile Robots class, which is very similar
                    hardware to Arduino.
                </p>
            </div>
       </div>
    </section>
</body>
</html>